{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/wtf.html" import form_field %}

{% block content %}
<div class="container">
    <h2>Update Profile</h2>
    <form method="POST" action="{{ url_for('profile.update_profile', worker_id=worker.id) }}">
        {{ form.hidden_tag() }}
        {% if not session.get('view_as_employee', False) and current_user.is_admin %}
            <div class="form-group">
                {{ form.worker_select.label(class="form-control-label") }}
                <select class="form-control" id="worker_select" name="worker_select" data-url="{{ url_for('profile.update_profile') }}">
                    {% for id, name in form.worker_select.choices %}
                        <option value="{{ id }}" {% if worker.id == id %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="form-group">
            {{ form.first_name.label(class="form-control-label") }}
            {{ form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class="form-control-label") }}
            {{ form.last_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone_number.label(class="form-control-label") }}
            {{ form.phone_number(class="form-control") }}
        </div>
        {% if not session.get('view_as_employee', False) and current_user.is_admin %}
            {% if form.is_admin is not none %}
                <div class="form-group admin-field">
                    {{ form.is_admin.label(class="form-control-label") }}
                    {{ form.is_admin(class="form-control") }}
                </div>
            {% endif %}
            {% if form.is_account_manager is not none %}
                <div class="form-group account-manager-field">
                    {{ form.is_account_manager.label(class="form-control-label") }}
                    {{ form.is_account_manager(class="form-control") }}
                </div>
            {% endif %}
        {% endif %}
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const workerSelect = document.getElementById('worker_select');
        if (workerSelect) {
            workerSelect.addEventListener('change', function() {
                const selectedWorkerId = workerSelect.value;
                if (selectedWorkerId) {
                    const url = workerSelect.getAttribute('data-url');
                    if (url) {
                        window.location.href = url + "?worker_id=" + selectedWorkerId;
                    } else {
                        console.error('Data-url attribute not found.');
                    }
                }
            });
        }
    });
</script>
{% endblock %}
