{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/wtf.html" import form_field %}

{% block content %}
<div class="container">
    <h2>Update Password for {{ worker.first_name }} {{ worker.last_name }}</h2>
    <form method="POST" action="{{ url_for('profile.update_password', worker_id=worker.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
