# SQLite and database files
*.sqlite
*.db

# Environment files
.env

# Stash environment file for keeping bits of code I don't want to lose to git resets
.stash 


# Python virtual environments
/venv
.venv*/
venv*/

# IDE settings
.idea/
.vscode/

# Python cache and distribution
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# React-specific additions
/static/js/*
/static/css/*
/build/

# Node.js modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Mac system files
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Miscellaneous
tests/example_app/exampledb
tests/example_app/exampledb_test
tests/example_app/example/exampledb

# Custom uploads and documents folders
/uploads/
/documents

# Local Flask script
create_admin.py


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*