{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Location{% endblock %}
{% block content %}
    <div class="container">
        <h2>Edit Location</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.address) }}
            {{ wtf.form_field(form.loading_notes) }}
            {{ wtf.form_field(form.dress_code) }}
            {{ wtf.form_field(form.other_info) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
{% endblock %}
