{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Event List{% endblock %}

{% block page_content %}
<div class="container">
    <h1>Events</h1>
    <div id="event-report">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Show Name</th>
                    <th>Show Number</th>
                    <th>Account Manager</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.showName }}</td>
                    <td>{{ event.showNumber }}</td>
                    <td>{{ event.account_manager.first_name }} {{ event.account_manager.last_name }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ 'Active' if event.active else 'Inactive' }}</td>
                    <td>
                        <button class="btn btn-danger" data-event-id="{{ event.id }}" data-status="inactive" onclick="setEventStatus(this)">Set Inactive</button>
                        <a href="{{ url_for('events.view_event', event_id=event.id) }}" class="btn btn-info">View Details</a>
                        <a href="{{ url_for('events.edit_event', event_id=event.id) }}" class="btn btn-warning">Edit</a>
                        <form id="delete-event-form-{{ event.id }}" action="{{ url_for('events.delete_event', event_id=event.id) }}" method="POST" style="display: inline;">
                            {{ csrf_token() }}
                            <button type="button" class="btn btn-danger" onclick="confirmDelete( event.id )">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<script>
function confirmDelete(eventId) {
    if (confirm("Are you sure you want to delete this event? This action cannot be undone.")) {
        document.getElementById('delete-event-form-' + eventId).submit();
    }
}

function setEventStatus(button) {
    const eventId = button.getAttribute('data-event-id');
    const status = button.getAttribute('data-status');
    
    fetch(`/set_event_status/${eventId}/${status}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    }).then(response => {
        if (response.ok) {
            location.reload();
        } else {
            alert('Failed to update event status.');
        }
    }).catch(error => console.error('Error:', error));
}
</script>
