<!-- templates/events/list_events.html -->
{% extends "base.html" %}
{% block title %}List Events{% endblock %}
{% block content %}
    <div class="container">
        <h2>Events</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Show Name</th>
                    <th>Show Number</th>
                    <th>Account Manager</th>
                    <th>Location</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.show_name }}</td>
                        <td>{{ event.show_number }}</td>
                        <td>{{ event.account_manager.first_name }} {{ event.account_manager.last_name }}</td>
                        <td>{{ event.location.name }}</td>
                        <td>{{ 'Yes' if event.active else 'No' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
