{% extends "bootstrap/base.html" %}
{% from "bootstrap/wtf.html" import form_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <style>
        body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
.navbar-inverse.light-mode {
    background-color: #f8f9fa;
    color: #333333; /* Changed to a darker shade */
}
.navbar-inverse.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
.navbar-inverse.light-mode .navbar-nav > li > a {
    color: #333333; /* Changed to a darker shade */
}
.navbar-inverse.dark-mode .navbar-nav > li > a {
    color: #cccccc;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.theme-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(14px);
}
.toggle-label {
    margin-left: 10px;
    font-weight: normal; /* Ensure the font weight is the same as the rest of the menu */
}


    </style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NSS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="/">Home</a></li>
                    <li><a href='/create_event'>Create Event</a></li>
                    <li><a href='/timesheet'>Timesheet</a></li>
                    <li><a href='/expenses'>Expenses</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('update_worker', worker_id=current_user.id) }}">Update Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <span class="slider round"></span>
                        </label>
                        <label for="checkbox" class="toggle-label">Light/Dark Scheme</label>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const currentTheme = localStorage.getItem('theme') || 'light';
            document.body.classList.add(currentTheme + '-mode');
            document.querySelector('.navbar-inverse').classList.add(currentTheme + '-mode');
            document.getElementById('checkbox').checked = currentTheme === 'dark';

            document.getElementById('checkbox').addEventListener('change', function() {
                const newTheme = this.checked ? 'dark' : 'light';
                document.body.classList.toggle('light-mode', newTheme === 'light');
                document.body.classList.toggle('dark-mode', newTheme === 'dark');
                document.querySelector('.navbar-inverse').classList.toggle('light-mode', newTheme === 'light');
                document.querySelector('.navbar-inverse').classList.toggle('dark-mode', newTheme === 'dark');
                localStorage.setItem('theme', newTheme);

                fetch("{{ url_for('save_theme') }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}'
                    },
                    body: JSON.stringify({ theme: newTheme })
                });
            });
        });
    </script>
{% endblock %}
