{% extends "bootstrap/base.html" %}
{% from "bootstrap/wtf.html" import form_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Showbase</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('admin.view_all_shifts') }}">View All Shifts</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if not session.get('view_as_employee', False) %}
                        {% if current_user.is_admin and not session.get('view_as_account_manager', False) %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('admin.create_worker') }}">Create Worker</a></li>
                                    <li><a href="{{ url_for('events.create_event') }}">Create Event</a></li>
                                    <li><a href="{{ url_for('misc.timesheet') }}">Timesheet</a></li>
                                    <li><a href="{{ url_for('misc.expenses') }}">Expenses</a></li>
                                    <li><a href="{{ url_for('admin.unfulfilled_crew_requests') }}">Crew Requests</a></li>
                                    <li><a href="{{ url_for('backup.show_backup_restore') }}">Backup/Restore Database</a></li>
                                    <li><a href="{{ url_for('admin.add_location') }}">Add/Edit Location</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if current_user.is_admin or current_user.is_account_manager %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account Manager <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('events.create_event') }}">Create Event</a></li>
                                <li><a href="{{ url_for('events.list_events') }}">List Events</a></li>
                                <li><a href="{{ url_for('admin.add_location') }}">Add/Edit Location</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{{ url_for('profile.update_profile', worker_id=current_user.id) }}">Update Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li class="theme-switch-wrapper">
                        <label class="theme-switch" for="theme-checkbox">
                            <input type="checkbox" id="theme-checkbox" />
                            <span class="slider round"></span>
                        </label>
                        <label for="theme-checkbox" class="toggle-label">Light/Dark Scheme</label>
                    </li>
                    {% if current_user.is_admin or current_user.is_account_manager %}
                        <li class="view-switch-wrapper">
                            <label class="view-switch" for="view-checkbox" data-checked="{{ 'true' if session.get('view_as_employee', False) else 'false' }}" data-url="{{ url_for('misc.save_view_mode') }}">
                                <input type="checkbox" id="view-checkbox" />
                                <span class="view-slider round"></span>
                            </label>
                            <label for="view-checkbox" class="toggle-label">View as Employee</label>
                        </li>
                        {% if current_user.is_admin %}
                            <li class="view-switch-wrapper">
                                <label class="view-switch" for="view-checkbox-manager" data-checked="{{ 'true' if session.get('view_as_account_manager', False) else 'false' }}" data-url="{{ url_for('misc.save_view_mode') }}">
                                    <input type="checkbox" id="view-checkbox-manager" />
                                    <span class="view-slider round"></span>
                                </label>
                                <label for="view-checkbox-manager" class="toggle-label">View as Account Manager</label>
                            </li>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="alert-container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
