{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            // Initialize DateTimePicker
            $('#expdatepick').datetimepicker({
                format: 'YYYY-MM-DD',  // Set your desired format here
                useCurrent: false  // Prevents DateTimePicker from setting the current date/time
            });

            // Update form field when DateTimePicker value changes
            $('#expdatepick').on('change.datetimepicker', function (e) {
                var selectedDate = $('#expdatepick').datetimepicker('viewDate');
                var formattedDate = moment(selectedDate).format('YYYY-MM-DD');
                $('#expdatepick input').val(formattedDate);  // Update the visible input field
                $('#expdatepick input').trigger('input');  // Trigger input event for Flask-WTF to recognize the change
            });
        });

        // Function to refresh expense display
        function refreshExpenseDisplay() {
            fetch("/refreshExpenseDisplay")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("expense-report").innerHTML = data;
                })
                .catch(error => console.error('Error refreshing expense report:', error));
        }
    </script>
{% endblock %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <h1>Expenses</h1>
    <div style="position: relative">
        {{ wtf.quick_form(expense_form, id="expense-form") }}
    </div>

    <h2>Report</h2>
    <div id="expense-report">
        {{ report | safe }}
    </div>
{% endblock %}
