{% extends "base.html" %}
{% from "bootstrap/wtf.html" import form_field %}

{% block content %}
<div class="container">
    <h2>Event: {{ event.showName }}</h2>

    <h3>Request Crew</h3>
    <form method="POST" action="{{ url_for('view_event', event_id=event.id) }}">
        {{ crew_request_form.hidden_tag() }}
        {{ form_field(crew_request_form.date, class="flatpickr") }}
        {{ form_field(crew_request_form.time, class="flatpickr") }}
        {{ form_field(crew_request_form.roles) }}
        {{ form_field(crew_request_form.setup) }}
        {{ form_field(crew_request_form.show) }}
        {{ form_field(crew_request_form.strike) }}
        {{ crew_request_form.submit(class="btn btn-primary") }}
    </form>

    <h3>Notes</h3>
    <form method="POST" action="{{ url_for('view_event', event_id=event.id) }}">
        {{ note_form.hidden_tag() }}
        {{ form_field(note_form.notes) }}
        {{ note_form.submit(class="btn btn-primary") }}
    </form>

    <h3>Documents</h3>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('view_event', event_id=event.id) }}">
        {{ document_form.hidden_tag() }}
        {{ form_field(document_form.document) }}
        {{ document_form.submit(class="btn btn-primary") }}
    </form>

    <h3>SharePoint</h3>
    <form method="POST" action="{{ url_for('view_event', event_id=event.id) }}">
        {{ sharepoint_form.hidden_tag() }}
        {{ form_field(sharepoint_form.sharepoint_link) }}
        {{ sharepoint_form.submit(class="btn btn-primary") }}
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr(".flatpickr", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            clickOpens: true // Ensures the calendar opens on clicking anywhere in the input field
        });
    });
</script>
{% endblock %}
